.verify{
  min-height: 50vh;
  display: grid;

}
.verify .spinner{
  width: 100px;
  height:100px ;
  place-self: center;
  border: 1px solid #161414;
  border-top-color:tomato ;
  border-radius: 20px;
  animation: rotate 0.9s infinite;
}
@keyframes rotate {
  100%{
    transform: rotate(360deg);
  }
  
}